* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
  font-family: "inter";
  src: url(../../assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../../assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../../assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  padding: 1rem;
  position: relative;
  font-family: "inter", sans-serif;
}

#top-container {
  margin-bottom: 2rem;
}

#menu,
#close-menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

#close-menu {
  z-index: 1;
}

#desktop-navbar {
  display: none;
}

#mobile-navbar {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: var(--off-white);
  width: 70%;
  height: 100vh;
  transition: 0.4s;
}

#mobile-navbar.active {
  left: 30%;
  box-shadow: 0 0 400px rgba(0, 0, 0, 0.9);
}

.links-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7rem 1.5rem;
}

.links-container a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-size: 1.1rem;
}

.links-container a:hover,
.latest-title:hover {
  color: var(--soft-red);
  cursor: pointer;
}

main h1 {
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.9;
  margin-bottom: 1rem;
}

main p {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

#btn {
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  border: none;
}

#btn:hover {
  background-color: var(--very-dark-blue);
}

aside {
  background-color: var(--very-dark-blue);
  padding: 1.5rem 1rem 0;
  margin: 2rem 0;
}

aside h2 {
  color: var(--soft-orange);
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

aside h3 {
  color: var(--off-white);
}

aside h3:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

aside p {
  color: var(--grayish-blue);
  padding: 1rem 0 2rem;
}

aside hr {
  border: solid 0.5px var(--grayish-blue);
  opacity: 30%;
  margin-bottom: 2rem;
}

section {
  display: flex;
  flex-direction: column;
}

.top-latest {
  padding: 1rem 0.9rem;
}

.top-latest img {
  height: 150px;
  float: left;
  padding-right: 1rem;
}

.top-latest h2 {
  color: var(--grayish-blue);
  font-size: 2rem;
}

.latest-title {
  color: var(--very-dark-blue);
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem 0;
}

.latest-description {
  color: var(--dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 2;
}

@media screen and (min-width: 992px) {
  body {
    position: relative;
  }

  #logo {
    height: 40px;
  }

  #desktop-navbar {
    display: block;
  }

  #mobile-navbar,
  #menu,
  #close-menu {
    display: none;
  }

  .links-container {
    height: auto;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 2rem;
    padding: 0;
  }

  .links-container a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    padding-left: 2.5rem;
  }

  main h1 {
    font-size: 4rem;
  }

  #description-container {
    padding-top: 1.5rem;
  }

  aside {
    position: absolute;
    top: 3.5rem;
    right: 0;
  }

  aside h3 {
    font-size: 1.5rem;
  }

  aside p {
    padding: 1rem 0;
  }

  section {
    flex-direction: row;
    padding: 5rem 0.5rem;
  }

  .top-latest {
    padding: 1rem 0;
  }

  .latest-title {
    padding: 0.5rem;
  }

  .latest-description {
    line-height: 1.5;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  aside {
    line-height: 1;
  }
}
